/* Variables */

:root {
    --max-text-width: 38rem;
}

/* Defaults */

body {
    font-family: "Spectral", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    max-width: var(--max-text-width);
    margin: 5rem auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-top: 3em;
    margin-bottom: 0.5em;
    break-after: avoid;
}

h2 + h3 {
    margin-top: 2em;
}

h1 {
    font-size: 3em;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
}

a {
    color: inherit;
}

/* Print */

@media only print {

    @page {
        margin: 2.5cm;
        size: A4 portrait;
    }
    
    body {
        font-size: 10pt;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }

    h1 {
        margin-top: 0;
    }

    p {
        break-inside: avoid;
    }

    a {
        text-decoration: none;
    }
}
