/* Variables */

:root {
    --max-text-width: 38rem;
    --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --rule-thickness: 1px;
    --button-border-radius: 0.25rem;
    --color-gray-light: #d4d4d4;
    --color-gray-dark: #888;
}

/* Defaults */

body {
    font-family: "Spectral", var(--font-system);
    font-size: 1.2em;
    line-height: 1.6;
    max-width: var(--max-text-width);
    margin: 3rem auto;
    padding: 1rem;
}

@media only screen and (min-width: 400px) {

    body {
        margin: 5rem auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 3em;
    margin-bottom: 0.5em;
    break-after: avoid;
}

h2 + h3 {
    margin-top: 2em;
}

h1 {
    font-size: 1.6em;
    margin-top: 0;
}

h2 {
    font-size: 1.2em;
}

@media only screen and (min-width: 400px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 600px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
}

a {
    color: inherit;
}

a#download {
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: var(--rule-thickness) solid var(--color-gray-light);
    border-radius: var(--button-border-radius);
    color: var(--color-gray-dark);
    font-family: var(--font-system);
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

a#download:hover {
    background-color: var(--color-gray-light);
}

/* Print */

@media only print {

    @page {
        margin: 2.5cm;
        size: A4 portrait;
    }
    
    body {
        font-size: 10pt;
        line-height: 14pt;
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 12pt;
        line-height: 14pt;
        margin-bottom: 14pt;
        margin-top: 28pt;
    }

    h1 {
        font-size: 24pt;
        line-height: 28pt;
        margin-top: 0;
    }

    h2 + h3 {
        margin-top: 28pt;
    }

    h3 {
        margin-bottom: 0;
    }

    p {
        break-inside: avoid;
        font-size: 10pt;
        line-height: 14pt;
    }

    a {
        text-decoration: none;
    }

    a#download {
        display: none;
    }
}
